
*{
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;



}


h3 .titulo { 
    font-size: 36px;
    color: white ;
    text-align: center;
}

h3 .titulo span {
    color: blueviolet;
}

body, html{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif ;

}

.flex
{
    display: flex;
}

body
{
    background-color: black;
    height: 100vh;

}
.interface
{
    max-width: 1280px;
    margin:0 auto;
}

header .nome {
    text-align: left;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: blueviolet;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

/* CABEÇALHO DO SITE*/

header .interface 
{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a 
{
    color: #7d7d7d ;
    text-decoration: none;
    display: inline-block;
    transition: .2;
}

header a:hover
{
    color: white;
    transform: scale(1.05);
}


header nav ul
{
    list-style-type: none;
}

header nav ul li 
{
    display: inline-block;
    padding: 0 40px;
}



/*ESTILO TOPO DO SITE   */

section.topo-do-site{
    padding: 40px 4%;

}

section.top-do-site.flex
{
    align-items: center;
    justify-content: center;
    gap: 90px;

}
.topo-do-site h1
{
    color: white;
    font-size: 42px;
    line-height: 40px;
}

.txt-topo-site p 
{
    color: white;
    margin-bottom: 50px;
    font-size: 17px;
}

.img-topo-site img {
    border-radius: 15px;  
    width: 120%;  
    height: auto;  
}


.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px
    }
}


main {
    margin-bottom: 250px;
}

/*MINHAS ESPECIALIDADES*/


.Formacao .educacao h2 {
    color: white;
    text-align: center; 
    font-weight: bold;  


}
.Formacao .educacao span{
    color: blueviolet;
}
.Formacao .educacao p {
    font-size: 18px; 
    color: white; 
    text-align: center;
    margin-bottom: 20px;

}






/*MEU PORTIFOLIO */
.Portifolio .competencias h3 { 
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;

 }

 .Portifolio .competencias span{
    color: blueviolet;

 }
.Portifolio .competencias p {
    color: white;
    font-size: 17px;
    line-height: 28px;
    text-align: center;

 }


 /*ESTILOS DAS MINHAS HABILIDADES*/