
*{
    margin: 5;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;



}

button:hover, form .btn-salvar button:hover {

    box-shadow: 0px 0px 8px blueviolet;
    transform: scale(1.08);

}

h2.titulo { 
    color: #fff;
    font-size: 38px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
}

h2.titulo span {
    color: blueviolet; 
}

body, html{
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif ;

}

.flex
{
    display: flex;
}

body
{
    background-color: black;
    height: 100vh;

}
.interface
{
    max-width: 1280px;
    margin:0 auto;
}

header .nome {
    text-align: left;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: blueviolet;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
}

/* CABEÇALHO DO SITE*/


header .interface 
{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a 
{
    color: #7d7d7d ;
    text-decoration: none;
    display: inline-block;
    transition: .2;
}

header a:hover
{
    color: white;
    transform: scale(1.05);
}


header nav ul
{
    list-style-type: none;
}

header nav ul li 
{
    display: inline-block;
    padding: 0 40px;
}



/*ESTILO TOPO DO SITE   */

section.topo-do-site{
    padding: 40px 4%;

}

section.top-do-site.flex
{
    align-items: center;
    justify-content: center;
    gap: 90px;

}
.topo-do-site h1
{
    color: white;
    font-size: 42px;
    line-height: 40px;
}

.txt-topo-site p 
{
    color: white;
    margin-bottom: 50px;
    font-size: 17px;
}

.img-topo-site img {
    border-radius: 15px;  
    width: 120%;  
    height: auto;  
}


.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px
    }
}


main {
    margin-bottom: 250px;
}

/*MINHAS ESPECIALIDADES*/


.Formacao .educacao h2 {
    color: white;
    text-align: center; 
    font-weight: bold;  
    margin-top: 46px; 

}
.Formacao .educacao span{
    color: blueviolet;
}
.Formacao .educacao p {
    font-size: 18px; 
    color: white; 
    text-align: center;
    margin-bottom: 20px;

}






/*MEU PORTIFOLIO */
.Portifolio .competencias h3 { 
    color: white;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 46px;

 }

 .Portifolio .competencias span{
    color: blueviolet;

 }
.Portifolio .competencias p {
    color: white;
    font-size: 17px;
    line-height: 28px;
    text-align: center;

 }


 /*ESTILOS DAS MINHAS HABILIDADES*/

section.Portifolio {
    padding: 40px 4%;

}

section.Portifolio .flex{
    gap : 80px;

}

.Portifolio .especialidades-box
{
    color: #ffffff;
    padding: 40px ;
    margin-top: 46px;
    border-radius: 24px;
    transition: .2s;
}

.Portifolio .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px #ffffff69;
}

.Portifolio .especialidades-box h4 {
font-size: 28;
margin: 15px 0;
}


/*MEU FORMULARIO*/


h3.titulo.fale-comigo{
    color: white;
    font-size: 38px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: -100; 

}

section.formulario {
    padding: 80px 4%;

}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    margin-top: 40px; 
}

form input, form textarea{
    width: 100%;
    background-color: #242424;
    border: 0;
    outline: 0;
    padding: 25px 20px;
    border-radius: 15px;
    color: #fff;
    font-size: 20px;
    transition: border-color 0.3s;
    box-shadow: 0.3s;
}


form textarea{
    resize: none;
    max-height: 200px;

}

form input:hover, form textarea:hover {
    transform: scale(1.05); /* Aumenta levemente o tamanho (zoom) */
    border: 2px solid blueviolet; /* Adiciona uma borda violeta */
    transition: 0.2s;
}

form .btn-salvar{
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
}


form .btn-salvar button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600px;
    background-color: blueviolet;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
   

}


/*ESTILO DO MEU JS*/
.success,
.error {
    text-align: center;
}

.success{
    color: greenyellow;
}

.error{
    color: red;
}

button :disabled{
    cursor: not-allowed;
    background-color: #555b69;
}


/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    margin: 15% auto;
    width: 300px;
    text-align: center;
    position: relative;
    border-radius: 5px;
}

#close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}
